django-ninja==1.5.1
djangorestframework
psycopg2
django-simple-history
pandas==3.0
python-dotenv
requests
openpyxl
streamlit
matplotlib
gunicorn
whitenoise
amplify-storage-utils[s3] @ git+https://github.com/WHOIGit/amplify-storage-utils
